/target/
/build/
/dist/
/.tools/
/.aws-sam/

.terraform/
/.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
tfplan
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example

.env
.env.*
!.env.example

*.log
*.tmp
*.swp
.DS_Store
